.u-section-1 .u-sheet-1 {
  min-height: 194px;
}

.u-section-1 .u-table-1 {
  margin-top: 13px;
  margin-bottom: 8px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}