 .u-section-1 {
  background-image: url("../../images/PIDELOYAfondo.jpeg");
  background-position: 0% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-group-1 {
  min-height: 515px;
  width: 563px;
  background-image: none;
  height: auto;
  margin: 59px -22px 59px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 68px auto 0;
}

.u-section-1 .u-form-1 {
  height: 231px;
  width: 379px;
  margin: 26px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 37px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6876em;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: -45px 44px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.6876em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 48px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}