.u-section-1 .u-sheet-1 {
  min-height: 231px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 5px auto 0 5px;
  padding: 8px 33px;
}

.u-section-1 .u-table-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}